# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3

# Environments
venv/
.env

# VS Code
.vscode/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.py~

# OS files
.DS_Store
